.statistics {
  text-align: center;
}
.title {
  text-transform: uppercase;
  color: dimgrey;
}

.list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 500px;
  background-color: dimgrey;
}

.item {
  display: flex;
  flex-direction: column;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  width: 100%;
  line-height: 1.5;
}

.percentage {
  color: thistle;
  font-size: 22px;
}
